body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2f3e46;
    padding-top: 20px;
}

.sidebar ul {
    font-size: medium;
    font-family: 'Josefin Sans', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    font-family:'Josefin Sans', sans-serif; 
    font-size: large;
    border-bottom: 1px solid #47585a;   
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color:#47585a;
}

.tasks {
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
    justify-content: space-between;
    margin-left: 250px; /* same width as the sidebar */
    padding: 25px;
    display: flex;
    height: 100%;
}

.task {
    height: 860px;
    width: 47.3%;
    margin-bottom: 0%;
    background-color:#52796f;     
    padding: 10px;
    border-radius: 35px;
    font-size: 30px;
}

.task2{
    height: 860px;
    font-size: 30px;
    width: 49%;
    margin-bottom: 0%;
    background-color: #354f52;
    padding: 10px;
    border-radius: 35px;
}

#ime{
    width: 89%;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: azure;
}

.text{
    font-family: 'Josefin Sans', sans-serif;
    text-align:center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.list{
    margin-left: 10px;
    color: white;
}
hr{
    width: 750px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

.btn1:hover {
    background-color: #327074;
  }
.btn1{ 
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    display: block; 
    width: 99%; 
    height: 40px; 
    background-color: #84a98c; 
    margin-top: 20px;
    color: #fff; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: Bold; 
    font-size: 20px; 
    text-align: center; border: none; 
    border-radius: 20px; 
    cursor: pointer; 
}
.btn2{
    display: block; 
    width: 100%; 
    height: 40px; 
    background-color: #84a98c; 
    margin-top: 20px;
    color: #fff; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: Bold; 
    font-size: 20px; 
    text-align: center; border: none; 
    border-radius: 20px; 
    cursor: pointer; 
}
.btn3{
    display: block; 
    width: 100%; 
    height: 40px; 
    background-color: #84a98c; 
    margin-top: 20px;
    color: #fff; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: Bold; 
    font-size: 20px; 
    text-align: center; border: none; 
    border-radius: 20px; 
    cursor: pointer; 
}
.btn2:hover {
    background-color: #c0caad;
  }
.btn3:hover {
    background-color: #c0caad;
}   
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
