<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../wwwroot/css/registerstyle.css">  
</head>
<body>
    <div class="container">
      <div class="register-box">
        <h1>Register</h1>
        <form>
        <div class="textbox">
            <label for="name">Name</label>
            <input type="text" placeholder="Enter your name" name="name" required>
          </div>
          <div class="textbox">
            <label for="email">Email</label>
            <input type="text" placeholder="Enter your email" name="email" required>
          </div>
          <div class="textbox">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter your password" name="password" required>
          </div>
          <button type="submit" class="btn">Register</button>
        </form>
        <p class="login-link">Already have an account? <a href="#">Log in!</a></p>
      </div>
    </div>
  </body> 
</html>