
body {
    background-color: #f1f1f1;
  }
  
.container-register {    
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 30px;
  }
  
  .register-box {
    background-color: #84A98C;
    box-align: center;
    padding: 40px;
    border-radius: 40px;
    width: 50%;
    }
    
    .register-box h1 {
      text-align: center;
      font-size: 40px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bolder;
      margin-bottom: 30px;
      color:#080808;
    }
    
    .textbox-register {
      position: center;
      margin-bottom: 100px;
      margin-top: -80px;
    }


        .textbox-register label {
            display: block;
            margin-bottom: 5px;
            font-size: 20px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: Bold;
            color: #000; /*name email password lables*/
        }

        .textbox-register input {
            width: 95%;
            padding: 15px 15px;
            font-size: 20px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            border: 3px solid #84A98C;
            border-radius: 20px;
            outline: none; /*typing fields*/
        }
    
    .btn-register {
      display: block;
      width: 100%;
      height: 40px;
      margin-top: -60px;
      background-color: #CAD2C5;
      color: #fff;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: Bold;
      font-size: 20px;
      text-align: center;
      border: none;
      border-radius: 0px;
      cursor: pointer;
    }

        .btn-register:hover {
            background-color: #327074;
        }
    
    .login-link {
      text-align: center;
      margin-top: 18px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: Bolder;
    }
    
    .login-link a {
      color: #327074;
      text-decoration: none;
    }
    
    .login-link a:hover {
      text-decoration: underline;
    }
    